body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.42;
  font-size: 16px;
  color: #333;
  padding: 0;
  margin: 0; }

ul, p {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #1c1c1c; }

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.title {
  font-size: 30px;
  color: #212353;
  font-weight: 500; }

.hero {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh; }

@media screen and (max-width: 320px) {
  .hero {
    padding-top: 20px; } }

.hero__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.hero__subtitle {
  font-size: 18px;
  font-weight: 300;
  color: #3F3D56; }

.hero__logo {
  margin-top: 10px;
  margin-bottom: 20px; }

.hero__text-animation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .hero__text-animation p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 10px;
    font-weight: 400;
    color: #6C63FF; }

.hero__title {
  font-size: 36px;
  font-weight: 300;
  color: #3F3D56;
  text-transform: uppercase; }

.word {
  position: absolute;
  opacity: 0; }

@media screen and (max-width: 600px) {
  .hero__subtitle, .hero__logo {
    text-align: center; }
  .hero__text-animation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .hero__text-animation p {
      margin-left: 0;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
  .hero__title {
    margin: 10px 0px 10px 0px; } }

@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 18px;
    font-weight: 400; } }

.letter {
  display: inline-block;
  position: relative;
  float: left;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
      -ms-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px; }

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  -o-transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg); }

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275); }

.hero__description {
  padding: 10px;
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 300;
  background-color: #6C63FF;
  max-width: 400px;
  margin-top: 20px; }

.hero__arrow-down img {
  padding: 10px;
  margin-top: 50px;
  margin-left: 30px;
  position: relative;
  top: 0; }

.bounce {
  position: relative;
  -webkit-animation-name: arrow-bounce;
          animation-name: arrow-bounce;
  -webkit-animation-duration: 2.76s;
          animation-duration: 2.76s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  top: 0; }

@-webkit-keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

@keyframes arrow-bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px); }
  60% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px); } }

.hero__img img {
  max-width: 100%; }

@media screen and (max-width: 992px) {
  .hero__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .hero__description {
    margin-bottom: 40px; }
  .hero__arrow-down {
    display: none; } }

@media screen and (max-width: 500px) {
  .hero__row {
    text-align: center; }
  .hero__title {
    margin-bottom: 20px;
    font-size: 29px; } }

@media screen and (max-width: 320px) {
  .hero__title {
    font-size: 20px;
    font-weight: 400; } }

.about {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 0; }

.about__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(108, 99, 255, 0.2);
  padding: 90px 100px;
  -webkit-border-radius: 50px;
          border-radius: 50px; }

@media screen and (max-width: 992px) {
  .about__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.about__img {
  margin-right: 20px; }
  .about__img img {
    width: 100%; }

@media screen and (max-width: 992px) {
  .about__img {
    margin-right: 0; } }

.about__body {
  max-width: 470px; }

.about__title {
  margin-bottom: 30px; }

.about__text {
  font-size: 18px;
  font-weight: 300;
  text-align: justify; }

@media screen and (max-width: 600px) {
  .about__text {
    font-size: 18px; }
  .about__row {
    padding: 60px 40px; } }

@media screen and (max-width: 320px) {
  .about__text {
    font-size: 14px;
    font-weight: 400; } }

.about__span {
  color: #6C63FF; }

.catalog {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px; }

.title-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center; }

.catalog__title {
  margin-bottom: 20px; }

.section-subtitle {
  font-size: 18px;
  color: #3F3D56;
  max-width: 600px; }

.catalog__subtitle {
  margin-bottom: 50px; }

.catalog__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.catalog__item-1 {
  background-image: url(../img/bg_house.svg);
  background-repeat: no-repeat; }

.catalog__item-2 {
  background-image: url(../img/bg_security.svg);
  background-repeat: no-repeat; }

.catalog__item-3 {
  background-image: url(../img/bg_for-u.svg);
  background-repeat: no-repeat; }

.catalog__item-4 {
  background-image: url(../img/bg_house.svg);
  background-repeat: no-repeat; }

@media screen and (max-width: 500px) {
  .catalog__item-1, .catalog__item-2, .catalog__item-3, .catalog__item-4 {
    background-image: none; }
  .catalog__item-1 {
    background: rgba(108, 99, 255, 0.2); }
  .catalog__item-2 {
    background: rgba(104, 201, 186, 0.2); }
  .catalog__item-3 {
    background: rgba(45, 156, 219, 0.2); }
  .catalog__item-4 {
    background: rgba(156, 105, 226, 0.2); }
  .item {
    -webkit-border-radius: 10%;
            border-radius: 10%; }
  .title {
    font-size: 22px;
    text-align: center; } }

@media screen and (max-width: 992px) {
  .catalog__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.item {
  width: 100%;
  max-width: 442px;
  height: 358px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px; }

.item__img img {
  margin-left: -80px; }

.item__body {
  width: 100%;
  max-width: 220px;
  padding-right: 40px; }

@media screen and (max-width: 600px) {
  .item__img {
    display: none; }
  .item {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .item__body {
    padding-right: 0; } }

.item__title {
  font-size: 24px;
  font-weight: 400;
  color: #3F3D56;
  margin-bottom: 20px; }

.item__text {
  font-size: 18px;
  font-weight: 300;
  color: #3F3D56;
  text-align: justify;
  margin-bottom: 20px; }

.item__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #6c63ff;
  text-decoration: underline; }
  .item__link img {
    margin-left: 10px; }

.contacts {
  padding: 40px 0; }

.contacts__title {
  margin-bottom: 20px; }

.contacts__form-img {
  padding: 0 20px; }

@media screen and (max-width: 600px) {
  .contacts__form-img {
    display: none; } }

.contacts__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px; }

.group {
  position: relative;
  margin-bottom: 45px; }

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 285px;
  border: none;
  border-bottom: 1px solid #757575; }
  input:focus {
    outline: none; }
    input:focus ~ .highlight {
      -webkit-animation: inputHighlighter 0.3s ease;
      animation: inputHighlighter 0.3s ease; }

label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

input:focus ~ label, input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #6C63FF; }

.bar {
  position: relative;
  display: block;
  width: 300px; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #6C63FF;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all; }

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%; }

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }

@-webkit-keyframes {
  inputHighlighter {
    from {
      background: #6C63FF; }
    to {
      width: 0;
      background: transparent; } } }

@keyframes {
  inputHighlighter {
    from {
      background: #6C63FF; }
    to {
      width: 0;
      background: transparent; } } }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form__btn {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  max-width: 160px;
  height: 45px;
  border: none;
  color: #6C63FF;
  cursor: pointer; }

.form__btn-style {
  background: #fbfbfb;
  font-weight: 400; }
  .form__btn-style svg {
    height: 45px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
    .form__btn-style svg rect {
      fill: none;
      stroke: #6C63FF;
      stroke-width: 2;
      stroke-dasharray: 422, 0;
      -webkit-transition: all 0.35s linear;
      -o-transition: all 0.35s linear;
      transition: all 0.35s linear; }

.form__btn-style:hover {
  background: rgba(108, 99, 255, 0);
  font-weight: 900;
  letter-spacing: 1px;
  color: #6C63FF; }
  .form__btn-style:hover rect {
    stroke-width: 5;
    stroke-dasharray: 15, 310;
    stroke-dashoffset: 48;
    -webkit-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    -o-transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1); }

@media screen and (max-width: 320px) {
  .group input {
    max-width: 250px; }
  .bar {
    max-width: 265px; } }

.footer {
  background-color: #f2f2f2; }

.footer__row {
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__text {
  color: #767676;
  font-size: 14px;
  font-weight: 300; }
