* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: 'Gilroy', sans-serif;
  line-height: 1.42;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #333;
  padding: 0;
  margin: 0; }

ul, p {
  padding: 0;
  margin: 0; }
  ul li, p li {
    list-style: none; }

a {
  color: #fff; }
  a:hover {
    text-decoration: none;
    color: #fff; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #1c1c1c; }

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative; }

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.main-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto; }

.btn {
  background-color: #FC1258;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  padding: 22px 25px;
  color: #fff;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .btn:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: bold; }

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Black.eot");
  src: url("../fonts/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Black.woff") format("woff"), url("../fonts/Gilroy-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: black; }

.sub-header {
  background-color: #37BBA5;
  color: #ffffff;
  font-size: 16px; }

.info-list__item {
  position: relative;
  cursor: pointer;
  line-height: 70px;
  padding-left: 16px;
  padding-right: 28px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .info-list__item:after {
    content: '';
    position: absolute;
    top: 30px;
    margin-left: 8px;
    border: 6px solid transparent;
    border-top: 6px solid #fff; }
  .info-list__item:hover {
    background-color: #239F8B; }

.sub-header__link {
  display: block;
  line-height: 70px;
  padding: 0 16px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .sub-header__link:hover {
    background-color: #239F8B; }

.sub-header__link_city {
  padding-left: 4px; }

.main-header {
  padding: 33px 0; }

.main-header__content {
  width: 100%; }

.main-header__logo {
  margin-right: 70px; }

.main-header__list {
  width: 100%; }

.main-header__burger {
  display: none; }

.main-header__burger_line_1, .main-header__burger_line_2, .main-header__burger_line_3 {
  width: 17px;
  height: 2px;
  background-color: #000; }

.main-header__burger_line_2 {
  margin: 4px 0; }

.main-header__links li:last-child {
  min-width: 169px; }

.main-header__link {
  color: #000000;
  font-size: 16px;
  font-weight: 500; }
  .main-header__link:hover {
    color: #000000; }

.main-header__link_btn {
  padding: 10px 22px;
  background-color: #239F8B;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  color: #fff;
  -webkit-border-radius: 5px;
          border-radius: 5px; }
  .main-header__link_btn:hover {
    background-color: #B44466;
    color: #fff; }

.footer {
  padding: 80px 0; }

.footer__title {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
  text-align: center; }

.footer__links {
  padding-top: 30px;
  padding-bottom: 50px; }

.footer__link {
  background-color: #12D9B8;
  font-weight: 700;
  padding: 26px 74px;
  margin-right: 30px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .footer__link:hover {
    color: #ffffff;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); }
  .footer__link:last-child {
    margin-right: 0; }

.footer__link-icon {
  margin-right: 20px; }

.footer__copy {
  color: #0097A0;
  font-size: 14px;
  text-align: center; }

.hero {
  min-height: 80vh;
  background-color: #ECF6F3;
  background-image: url(../img/hero-bg.svg);
  background-repeat: no-repeat;
  background-position: 90% 50%; }

.hero-title {
  padding-top: 97px; }

.hero-title__main {
  font-size: 36px;
  font-weight: 700;
  color: #000; }

.hero-title__sub {
  font-size: 18px;
  color: #000;
  margin-top: 32px;
  margin-bottom: 48px; }

.hero-title__btn {
  padding: 15px 25px;
  background-color: #12D9B8;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  max-width: 300px;
  font-size: 18px;
  font-weight: 700;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .hero-title__btn:hover {
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); }

.hero-title__icon {
  padding: 8px;
  background-color: #00A9B4;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  margin-right: 25px; }

.hero-cards {
  width: 100%;
  max-width: 1170px;
  position: absolute;
  top: 700px;
  z-index: 10;
  padding: 0 10px; }

.hero-card {
  -webkit-border-radius: 26px;
          border-radius: 26px;
  width: -webkit-calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
  max-width: 280px;
  min-height: 337px;
  margin-right: 10px; }
  .hero-card:last-child {
    margin-right: 0; }

.hero-card_color_violet {
  background-color: #6786D6; }

.hero-card_color_seafoam {
  background-color: #00A9B4; }

.hero-card_color_peach {
  background-color: #F2A77D; }

.hero-card_color_tomato {
  background-color: #FC1258; }

.hero-card__img {
  -webkit-border-radius: 26px 26px 0px 0px;
          border-radius: 26px 26px 0px 0px; }

.hero-card__body {
  padding: 15px 17px;
  padding-top: 0px; }

.hero-card__title {
  text-align: center;
  color: #fff;
  font-size: 24px;
  font-weight: 800; }

.hero-card__btn {
  padding: 25px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  background-color: #fff;
  color: #202020;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .hero-card__btn:hover {
    color: #000;
    -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25); }

.about {
  margin-top: 150px;
  background-image: url(../img/about/screen.png);
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 150px; }

.about__body {
  padding-top: 400px;
  padding-left: 74px; }

.section-subtitle {
  color: #00A9B4;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

.about__title {
  font-size: 32px;
  color: #000000;
  margin: 20px 0; }

.about__info {
  font-size: 18px;
  font-weight: 500;
  color: #827f7f;
  max-width: 300px;
  line-height: 130%; }

.about__btn {
  display: block;
  max-width: 250px;
  padding: 22px 25px;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px; }

.services {
  padding: 40px 0;
  background-color: #E5F7F9;
  position: relative; }
  .services:after {
    content: '';
    background: url("../img/services/services-top-line.svg") repeat-x;
    display: block;
    width: 100%;
    position: absolute;
    height: 16px;
    top: -16px;
    z-index: 10; }
  .services:before {
    content: '';
    background: url("../img/services/services-bottom-line.svg") repeat-x;
    display: block;
    width: 100%;
    height: 16px;
    position: absolute;
    bottom: -16px;
    z-index: 10; }

.services_bg-decor_right {
  background-image: url(../img/bg-decor/services/right-tree.svg);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: -7%;
  width: 50px;
  height: 200px;
  z-index: 12; }

.services_bg-decor_left {
  background-image: url(../img/bg-decor/services/left-tree.svg);
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  bottom: -20%;
  width: 140px;
  height: 220px;
  z-index: 12; }

.services__content {
  padding: 40px 0; }

.services__content-mobile {
  display: none; }

.services__img {
  width: 100%; }

.services__title-block {
  margin-bottom: 30px; }

.services__item {
  font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }

.services__left-block .services__item {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.services__left-block .services__text {
  margin-right: 15px;
  text-align: right; }

.services__right-block .services__text {
  margin-left: 15px; }

.services__subtitle {
  text-align: center; }

.services__btn {
  position: absolute;
  z-index: 11;
  bottom: -130px;
  display: block;
  max-width: 250px; }

.organizations {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url(../img/organizations/organization-bg.svg);
  background-repeat: no-repeat;
  background-position: 50% 100%;
  -webkit-background-size: auto auto;
          background-size: auto; }

.organizations__title {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 431px; }

.organizations__info {
  color: #827F7F;
  font-size: 18px;
  line-height: 130%;
  max-width: 326px; }

.organizations__btn {
  margin-top: 55px; }

.organizations__img {
  width: 100%; }

.faq {
  background-color: #E5F7F9;
  padding-top: 80px;
  padding-bottom: 130px;
  background-image: url(../img/bg-decor/faq/cloud-1.svg), url(../img/bg-decor/faq/cloud-2.svg), url(../img/bg-decor/faq/left-tree.svg), url(../img/bg-decor/faq/airplane.svg);
  background-repeat: no-repeat;
  -webkit-background-size: auto auto;
          background-size: auto;
  background-position: 25% 10%, 76% 25%, 0% 100%, 100% 100%; }

.faq__content {
  width: 100%; }

.faq__list {
  width: 100%;
  max-width: 972px; }

.faq__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 10px;
  padding-left: 40px;
  border-bottom: 1px solid #75DDDD;
  font-size: 24px;
  color: #118BA6;
  font-weight: 700; }

@media screen and (max-width: 1200px) {
  .sub-header__time-show {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .sub-header__link {
    padding: 0 8px; }
  .sub-header__link_city {
    line-height: inherit; }
  .sub-header__city-select {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .main-header__logo {
    margin-right: 2%; }
  .hero-cards {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .about {
    -webkit-background-size: contain;
            background-size: contain;
    min-height: 90vh; }
  .about__body {
    position: absolute;
    top: 26rem;
    left: 1.5rem;
    padding: 0;
    z-index: 10; }
  .about__btn {
    margin-top: 30px; } }

@media screen and (max-width: 992px) {
  .sub-header__time-show, .sub-header__city-select, .main-header__list {
    display: none !important; }
  .main-header {
    padding: 16px 0; }
  .main-header__burger {
    display: block;
    cursor: pointer; }
  .main-header__content {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .hero-title__main {
    font-size: 28px;
    max-width: 340px; } }

@media screen and (max-width: 768px) {
  .hero {
    background-position: top;
    -webkit-background-size: 50% 50%;
            background-size: 50%; }
  .hero-title {
    padding-top: 270px;
    width: 100%; }
  .hero-title__btn {
    width: 100%;
    max-width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 40px; }
  .hero-cards {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .hero-card {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px; }
    .hero-card:last-child {
      margin-bottom: 40px; }
  .hero-card__img {
    width: 100%; }
  .hero-card__title {
    margin-top: 20px; }
  .about {
    background-image: url(../img/about/screen-mobile-retina.png);
    -webkit-background-size: 70% 70%;
            background-size: 70%;
    background-position: top; }
  .about__body {
    position: static;
    padding-top: 24rem; }
  .about__btn {
    max-width: 100%; }
  .services__main {
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important; }
  .services__title-block, .services__subtitle {
    text-align: left;
    margin-bottom: 0; }
  .services__content {
    display: none !important; }
  .services__content-mobile {
    display: block; }
    .services__content-mobile .services__item {
      font-size: 14px;
      font-weight: 500;
      color: #5C5C5C;
      margin-top: 15px; }
      .services__content-mobile .services__item img {
        margin-right: 10px; }
  .services__btn {
    width: 100%;
    max-width: 100%;
    position: static;
    margin-top: 20px;
    font-size: 16px; }
  .organizations__title {
    font-size: 24px; }
  .organizations__info {
    font-size: 16px; }
  .organizations__btn {
    width: 100%;
    max-width: 100%; } }

@media screen and (max-width: 650px) {
  .faq {
    background-image: url(../img/bg-decor/faq/cloud-1.svg), url(../img/bg-decor/faq/cloud-2.svg), url(../img/bg-decor/faq/airplane.svg);
    background-position: 25% 10%, 76% 25%, 100% 100%; }
  .faq__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px; }
  .faq__item {
    padding: 20px 0;
    padding-left: 0;
    font-size: 18px;
    font-weight: 500; }
  .footer__title {
    font-size: 24px; }
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer__link {
    width: 100%;
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .footer__link:last-child {
      margin-bottom: 0; } }

@media screen and (max-width: 415px) {
  .info {
    margin: 0 auto; }
  .info-list__item:after {
    top: 20px; }
  .sub-header__lang-select {
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .sub-header__link, .info-list__item {
    line-height: 45px; }
  .about {
    margin-top: 40px;
    padding-bottom: 40px;
    min-height: inherit; }
  .about__body {
    padding-top: 14rem; }
  .services_bg-decor_right, .services_bg-decor_left {
    display: none; } }
