* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Semibold"), local("Proxima-Nova-Semibold"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: local("Proxima Nova Regular"), local("Proxima-Nova-Regular"), url("../fonts/ProximaNova-Regular.woff2") format("woff2"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

body, html {
  width: 100%;
  height: 100%; }

body {
  font-family: "Proxima Nova", sans-serif;
  line-height: 1.42;
  font-size: 16px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(0, 0, 0, 0.8);
  padding: 0;
  margin: 0; }

ul, p {
  padding: 0;
  margin: 0; }
  ul li, p li {
    list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.hide {
  position: absolute;
  left: -9999px;
  top: -9999px; }

.wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media screen and (max-width: 1300px) {
  .wrapper {
    display: block; } }

.content__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.aside-content {
  width: 30%;
  min-width: 286px;
  max-width: 360px;
  height: 100%;
  background-color: #2e2b36; }

.content {
  background-color: #f5f5f5;
  padding: 24px;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }

.main-header {
  padding-bottom: 24px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.main-header, .main-header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600; }

.main-header__logo {
  height: 26px;
  margin-right: 32px; }

.main-header__item {
  margin-right: 24px; }
  .main-header__item:last-child {
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.main-header__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms; }
  .main-header__link:hover {
    color: #3498DB; }

.main-header__link_img {
  margin-right: 4px; }

.main-header__link_green-note {
  position: relative; }
  .main-header__link_green-note:before {
    content: '';
    width: 6px;
    height: 6px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #62B435;
    position: absolute;
    right: -10px;
    top: -4px; }

.main-header__avatar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 600;
  line-height: 16px;
  color: #fff;
  text-align: center;
  padding: 7px 8px;
  max-width: 32px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: -webkit-linear-gradient(315.28deg, #3023AE 0%, #C86DD7 101.5%);
  background: -o-linear-gradient(315.28deg, #3023AE 0%, #C86DD7 101.5%);
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 101.5%);
  position: relative;
  z-index: 1; }
  .main-header__avatar:after {
    content: '';
    background-color: #F64747;
    width: 6px;
    height: 6px;
    border: 2px solid #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    position: absolute;
    right: -2px;
    top: 2px; }
  .main-header__avatar:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 32px;
    max-height: 32px;
    background: -webkit-linear-gradient(224.72deg, #3023AE 0%, #C86DD7 101.5%);
    background: -o-linear-gradient(224.72deg, #3023AE 0%, #C86DD7 101.5%);
    background: linear-gradient(-134.72deg, #3023AE 0%, #C86DD7 101.5%);
    opacity: 0;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    z-index: -1;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .main-header__avatar:hover {
    color: #fff; }
    .main-header__avatar:hover::before {
      opacity: 1; }

.match-list {
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  min-width: 240px;
  height: 100%;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  -webkit-border-radius: 3px;
          border-radius: 3px; }

.match-list__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600; }
  .match-list__title .title {
    font-size: 14px; }

.match-list__line {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 24px 0; }

.match-list__subtitle {
  color: rgba(0, 0, 0, 0.4); }

.match-count {
  color: rgba(0, 0, 0, 0.15); }

.match-count_active {
  color: rgba(0, 0, 0, 0.6); }

.match-list__league {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px; }
  .match-list__league:last-child {
    margin-bottom: 0; }

.match-list__flag {
  margin-right: 8px; }

.match-list__item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-content {
  margin-right: 24px;
  width: 100%;
  max-width: 768px; }

.main-content__wrapper {
  background-color: #ffffff;
  -webkit-border-radius: 1px;
          border-radius: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.content-header {
  padding: 0 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.content-header__mobile {
  display: none; }

.content-header__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
  font-size: 14px;
  padding: 22.5px 0; }
  .content-header__item:last-child {
    margin-right: 0; }

.content-header__item_active {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8); }
  .content-header__item_active .link {
    color: rgba(0, 0, 0, 0.8);
    cursor: default; }
    .content-header__item_active .link:hover {
      color: rgba(0, 0, 0, 0.8); }

.content-header__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-weight: 600; }

.content-header__count {
  margin-left: 4px; }

.link {
  color: #3498DB;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .link:hover {
    color: #d0021b; }

.all-match {
  padding: 24px; }

.all-match__title {
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  margin-bottom: 24px; }

.all-match__text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.date {
  padding: 24px;
  padding-top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px; }

.date__title {
  margin-right: 8px; }

.date__subtitle {
  color: rgba(0, 0, 0, 0.15); }

.table {
  padding: 24px;
  padding-top: 0; }

.table__title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0;
  padding-top: 0; }

.table__title {
  font-size: 16px;
  margin-left: 8px; }

.item__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.item__country, .item__league {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px; }

.item__country {
  color: rgba(0, 0, 0, 0.8); }

.item__country_flag {
  width: 15px;
  margin-right: 8px; }

.item__arrow {
  margin: 0 8px; }

.item__subtitle {
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.15);
  text-align: center; }

.item__games {
  padding-top: 12px; }

.item__match {
  padding-bottom: 24px; }

.item__match, .item__match-info, .item__match-stream {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600; }

.item__match-info {
  width: 30%; }

.item__match-name {
  font-size: 14px; }

.item__match-stream, .item__match-note {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%; }

.item__match-rate_wrap {
  width: 10%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .item__match-rate_wrap:hover .item__match-promt {
    display: block;
    opacity: 1; }

.item__match-promt {
  position: absolute;
  top: -46px;
  padding: 6px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  height: 36px;
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  opacity: 0;
  display: none;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .item__match-promt:after {
    content: '';
    width: 8px;
    height: 8px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: -5px;
    right: 40%;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.item__match-promt_img {
  max-width: 64px; }

.item__match-time {
  color: rgba(0, 0, 0, 0.15);
  margin-right: 8px; }

.item__match-stream_img {
  margin-right: 8px;
  opacity: .6;
  cursor: pointer;
  -webkit-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms; }
  .item__match-stream_img:hover {
    opacity: 1; }
  .item__match-stream_img:last-child {
    margin-right: 0; }

.item__match-note_count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms; }
  .item__match-note_count:hover {
    background-color: #3498DB;
    color: #fff; }

.item__match-rate {
  border: 1px solid rgba(52, 152, 219, 0.3);
  -webkit-border-radius: 3px;
          border-radius: 3px;
  width: 64px;
  height: 32px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
  cursor: pointer; }
  .item__match-rate:hover {
    background-color: #3498DB;
    color: #fff; }

.blogs__wrapper {
  max-width: 1030px;
  margin: 0 auto; }

.blogs__title {
  padding: 24px 0; }

.slider-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative; }

@media screen and (max-width: 768px) {
  .slider-container {
    width: 768px; } }

@media screen and (max-width: 415px) {
  .slider-container {
    width: 440px; } }

.card__btn {
  background-color: #fff;
  padding: 12px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  -webkit-box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat; }
  .card__btn:after {
    display: none; }

.swiper-button-next {
  background-image: url("../img/icons/right.svg");
  z-index: 9999; }

@media screen and (max-width: 768px) {
  .swiper-button-next, .swiper-button-prev {
    display: none; } }

.swiper-wrapper {
  z-index: -1; }

.swiper-container:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.77%, rgba(244, 244, 244, 0.0001)), color-stop(75.52%, #F4F4F4));
  background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: -o-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: linear-gradient(90deg, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  width: 10%;
  opacity: 1; }

.swiper-container:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.77%, rgba(244, 244, 244, 0.0001)), color-stop(75.52%, #F4F4F4));
  background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: -o-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: linear-gradient(90deg, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  width: 10%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 0; }

.swiper-container-before:before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.77%, rgba(244, 244, 244, 0.0001)), color-stop(75.52%, #F4F4F4));
  background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: -o-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: linear-gradient(90deg, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  width: 10%;
  opacity: 0; }

.swiper-container-after:after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: -webkit-gradient(linear, left top, right top, color-stop(0.77%, rgba(244, 244, 244, 0.0001)), color-stop(75.52%, #F4F4F4));
  background: -webkit-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: -o-linear-gradient(left, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  background: linear-gradient(90deg, rgba(244, 244, 244, 0.0001) 0.77%, #F4F4F4 75.52%);
  width: 10%;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  opacity: 1; }

@media screen and (max-width: 768px) {
  .swiper-container:before, .swiper-container:after {
    display: none; } }

.swiper-button-prev {
  background-image: url("../img/icons/right.svg");
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.swiper-button-disabled {
  display: none; }

.card {
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 240px; }
  .card:last-child {
    margin-right: 0; }

.card__header, .card__body {
  padding: 24px; }

.card__header {
  background-image: url(../img/Bitmap.jpg);
  height: 180px;
  position: relative;
  z-index: 10; }
  .card__header::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0001)), color-stop(71.12%, rgba(0, 0, 0, 0.5)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 71.12%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 71.12%);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 71.12%);
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg); }

.card__header-link {
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
  color: #ffffff;
  z-index: 10; }

.card__body-link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 20px;
  line-height: 24px;
  font-weight: 600; }

.card__date {
  font-size: 13px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 24px; }

.main-footer {
  padding: 26px;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px; }

.main-footer__left-block, .main-footer__right-block, .main-footer__pg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.main-footer__img {
  margin-right: 8px; }

.main-footer__copy {
  margin-right: 50px; }

@media screen and (max-width: 1300px) {
  .aside-content {
    display: none; } }

@media screen and (max-width: 1180px) {
  .main-header__item {
    margin-right: 1.2em; }
  .match-list {
    display: none; }
  .main-content {
    margin-right: 0; }
  .blogs__wrapper {
    max-width: 768px; } }

@media screen and (max-width: 992px) {
  html, body {
    overflow-x: hidden; }
  .main-header {
    margin: 0 auto;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 768px; }
  .main-header__list_mobile {
    position: fixed;
    z-index: 1;
    right: 0;
    top: 6vh;
    height: 94vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f5f5f5;
    padding: 24px;
    width: 100%;
    max-width: 415px;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    overflow-x: auto; }
  .main-header__item {
    opacity: 0;
    border-bottom: 1px solid #3498DB;
    width: 100%;
    text-align: center;
    padding: 12px 0; }
  .main-header__link_green-note {
    margin: 0 auto;
    max-width: 94px; }
    .main-header__link_green-note:before {
      top: -3px;
      right: -6px; }
  .main-header__list_mobile-active {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .mobile-main-menu {
    cursor: pointer; }
  .mobile-main-menu__burger {
    width: 24px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 6px;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms; }
    .mobile-main-menu__burger:last-child {
      margin-bottom: 0; }
  @-webkit-keyframes mainHeaderListFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px); }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } }
  @keyframes mainHeaderListFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px); }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px); } }
  .toggle-burger .mobile-main-menu__burger_line_one {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
        -ms-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px); }
  .toggle-burger .mobile-main-menu__burger_line_two {
    opacity: 0; }
  .toggle-burger .mobile-main-menu__burger_line_three {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
        -ms-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px); } }

.item__mobile, .item__mobile-stream {
  display: none; }

@media screen and (max-width: 768px) {
  .content {
    padding: 16px; }
  .all-match, .card__header, .card__body {
    padding: 16px; }
  .match-list, .date, .table, .table__title-wrap {
    padding: 16px;
    padding-top: 0; }
  .table__title-wrap {
    padding-left: 0; }
  .blogs__title {
    padding: 12px 0; }
  .date {
    font-size: 20px;
    line-height: 24px; }
  .table__title {
    font-size: 14px;
    line-height: 16px; }
  .item__header {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .item__league {
    width: 100%;
    margin-bottom: 8px;
    font-size: 12px; }
  .item__subtitle {
    font-size: 11px;
    line-height: 12px; }
  .item__hide {
    display: none; }
  .item__match-info_mobile {
    height: 72px;
    font-size: 12px; }
  .item__match-time_mobile {
    margin-top: 24px; }
  .item__mobile {
    display: block; }
  .item__mobile-width {
    width: 70%;
    text-align: left; }
  .item__match-rate_wrap-mobile_width {
    width: 10%; }
  .item__mobile-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: start;
        -ms-flex-align: start;
            align-items: start; }
  .item__match-rate_wrap-mobile {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 72px; }
  .item__match-rate {
    width: 40px;
    height: 40px; }
  .item__mobile-stream {
    display: block;
    margin-top: 10px; }
    .item__mobile-stream img {
      width: 38px; }
  .main-footer {
    font-size: 12px;
    line-height: 14px; } }

@media screen and (max-width: 700px) {
  .main-footer__copy {
    margin-right: 10px; }
  .main-footer__right-block {
    display: none; }
  .all-match__title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 12px; }
  .all-match__text {
    font-size: 14px; }
  .content-header__hide {
    display: none; }
  .main-content-nav {
    position: relative;
    height: 48px;
    overflow: hidden; }
  .content-header__mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    position: absolute;
    overflow-x: auto;
    width: 100%;
    padding: 0 12px; }
  .content-header__item {
    padding: 13.5px 0; }
    .content-header__item:last-child {
      padding-right: 12px; }
  .content-header__link {
    white-space: nowrap;
    display: block; } }

@media screen and (max-width: 520px) {
  .item__mobile-width {
    width: 55%;
    text-align: left; }
  .item__match-rate_wrap-mobile_width {
    width: 15%; } }

@media screen and (max-width: 360px) {
  .main-header__list_mobile {
    top: 10vh;
    height: 90vh; }
  .item__mobile-width {
    width: 40%;
    text-align: left; }
  .item__match-rate_wrap-mobile_width {
    width: 20%; } }
